@import "../../app.component.scss";

#user-type-selection {
    display: inline-flex;
}

.button-primary {
    min-width: 2em;
    max-width: 10em;
    padding-left:1em;
    padding-right:1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    max-height: 10em;
    font-size: 40px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: 0.5em;
    outline: none !important;
    color: $primary-color;
    background-color: white !important;
    border: 3px solid $primary-color !important;
    transition: .5s ease-in-out all;
    opacity: 65%;
    cursor: pointer;
}

.button-primary div{
    margin: 1em;
}

fa-icon {
    font-size: 3em;
}

.button-primary:hover {
    background-color: var(--primary-default) !important;
    border: 1px solid var(--primary-default) !important;
    color: white;

}

.clr-timeline-step{
    cursor: pointer;
}