<div class="question-box">
    <div class="question">
        Question?
    </div>
    <div>
        <clr-radio-wrapper>
            <input type="radio" clrRadio value="option1" name="options" (click)="choice(1)"/>
            <label>Option 1</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
            <input type="radio" clrRadio value="option2" name="options" (click)="choice(2)"/>
            <label>Option 2</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
            <input type="radio" clrRadio value="option1" name="options" (click)="choice(3)" />
            <label>Option 3</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
            <input type="radio" clrRadio value="option2" name="options" (click)="choice(4)" />
            <label>Option 4</label>
        </clr-radio-wrapper>
    </div>
</div>