@import '../../app.component.scss';

.title {
    padding: 4em;
}

.title h1{
    text-align: center;
    font-size: 8em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

#cost{
    border-bottom: 5px solid $primary-color;
}