@import '../../app.component.scss';

.lightbulb {
    font-size: 5em;
    color: $primary-color;
    margin: 0em auto;
}

.title {
    padding: 4em;
}

.title h1{
    text-align: center;
    font-size: 8em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: $foreground-default;
}

#cost{
    border-bottom: 5px solid $primary-color;
}