$primary-color: var(--primary-default);
$secondary-color: var(--secondary-default);
$tertiary-color: var(--tertiary-default);
$question-background: var(--background-default);
$background-image: var(--background-image);
$foreground-default: var(--foreground-default);
$primary-font: 'Overpass', sans-serif;

.question {
  padding-bottom: 2em;
  color: black;
  font-size: 50px;
}

.question-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 68%;
  background-color: $question-background;  
  margin-left: 5em;
  margin-right: 5em;
  border-radius: 0.5em;
  font-family: $primary-font;
  font-weight: 600;
  text-align: center;
}

.center-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 68%;
  margin-left: 5em;
  margin-right: 5em;
  border-radius: 0.5em;
  font-family: $primary-font;
  font-weight: 600;
  text-align: center;
}

.question-progress {
  position: absolute;
  bottom: 0;
  vertical-align: bottom;
  display: flex;
  margin-bottom: 1em;
}

.progress-color {
  fill: $secondary-color;
}

.clr-timeline-step {
  min-width: 1em;
  max-width: 7em;
  width: 100%;
}
