<div>
    <div class="question">
        How large is your organization?
    </div>
    <form clrForm>
        <div id="user-type-selection">
            <div class="button-company" (click)="choice(0)">
                <div class="button-text">
                    Small
                </div>
                <div>
                    <fa-icon [icon]="faStoreAlt"></fa-icon>
                </div>
                <div class="button-subtext">
                    (1-150 employees)
                </div>
            </div>
            <div class="button-company" (click)="choice(1)">
                <div class="button-text">
                    Medium
                </div>
                <div>
                    <fa-icon [icon]="faBuilding"></fa-icon>
                </div>
                <div class="button-subtext">
                    (151-1000 employees)
                </div>
            </div>
            <div class="button-company" (click)="choice(2)">
                <div class="button-text">
                    Large
                </div>
                <div>
                    <fa-icon [icon]="faCity"></fa-icon>
                </div>
                <div class="button-subtext">
                    (1001+ employees)
                </div>
            </div>
        </div>
    </form>
</div>