<div>
    <div *ngIf="questionsService.questionNumber== 0" class="center-box">
        <div>
            <div>
                <h2></h2>
            </div>
            <div id="user-type-selection">
                <div class="button-primary" (click)="isBusiness = true; addQuestionNumber()">
                    <div class="button-text">
                        Environmental Impact Assessment
                    </div>
                    <div>
                        <fa-icon [icon]="faUser"></fa-icon>
                    </div>
                </div>
                <div class="button-primary" (click)="isBusiness = false; addQuestionNumber()">
                    <div class="button-text">
                        Sustainable Product Search
                    </div>
                    <div>
                        <fa-icon [icon]="faBuilding"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="questionsService.questionNumber!= 0 && isBusiness" class="question-box">
        <div>
            <app-question1-i *ngIf="questionsService.questionNumber== 1"></app-question1-i>
            <app-question2-i *ngIf="questionsService.questionNumber== 2"></app-question2-i>
            <app-question3-i *ngIf="questionsService.questionNumber== 3"></app-question3-i>
            <app-question4-i *ngIf="questionsService.questionNumber== 4"></app-question4-i>
            <app-question5-i *ngIf="questionsService.questionNumber== 5"></app-question5-i>
            <app-question6-i *ngIf="questionsService.questionNumber== 6"></app-question6-i>
            <app-question7-i *ngIf="questionsService.questionNumber== 7"></app-question7-i>
            <app-question8-i *ngIf="questionsService.questionNumber== 8"></app-question8-i>
        </div>
        <div class="question-progress">
            <button (click)="subtractQuestionNumber()">back</button>
            <ul class="clr-timeline clr-timeline-horizontal">
                <li class="clr-timeline-step" (click)="questionsService.questionNumber= 1">
                    <clr-icon *ngIf="questionsService.questionNumber== 1" shape="dot-circle" class="progress-color"></clr-icon>
                    <clr-icon *ngIf="questionsService.questionNumber!= 1 && !questionsService.answers['q1']" shape="circle">
                    </clr-icon>
                    <clr-icon shape="success-standard" *ngIf="questionsService.questionNumber!= 1 && questionsService.answers['q1']">
                    </clr-icon>
                    <div class="clr-timeline-step-body">
                    </div>
                </li>
                <li class="clr-timeline-step" (click)="questionsService.questionNumber= 2">
                    <clr-icon *ngIf="questionsService.questionNumber== 2" shape="dot-circle" class="progress-color"></clr-icon>
                    <clr-icon *ngIf="questionsService.questionNumber!= 2 && !questionsService.answers['q2']" shape="circle">
                    </clr-icon>
                    <clr-icon shape="success-standard" *ngIf="questionsService.questionNumber!= 2 && questionsService.answers['q2']">
                    </clr-icon>
                    <div class="clr-timeline-step-body">
                    </div>
                </li>
                <li class="clr-timeline-step" (click)="questionsService.questionNumber= 3">
                    <clr-icon *ngIf="questionsService.questionNumber== 3" shape="dot-circle" class="progress-color"></clr-icon>
                    <clr-icon *ngIf="questionsService.questionNumber!= 3 && !questionsService.answers['q3']" shape="circle">
                    </clr-icon>
                    <clr-icon shape="success-standard" *ngIf="questionsService.questionNumber!= 3 && questionsService.answers['q3']">
                    </clr-icon>
                    <div class="clr-timeline-step-body">
                    </div>
                </li>
                <li class="clr-timeline-step" (click)="questionsService.questionNumber= 4">
                    <clr-icon *ngIf="questionsService.questionNumber== 4" shape="dot-circle" class="progress-color"></clr-icon>
                    <clr-icon *ngIf="questionsService.questionNumber!= 4 && !questionsService.answers['q4']" shape="circle">
                    </clr-icon>
                    <clr-icon shape="success-standard" *ngIf="questionsService.questionNumber!= 4 && questionsService.answers['q4']">
                    </clr-icon>
                    <div class="clr-timeline-step-body">
                    </div>
                </li>
                <li class="clr-timeline-step" (click)="questionsService.questionNumber= 5">
                    <clr-icon *ngIf="questionsService.questionNumber== 5" shape="dot-circle" class="progress-color"></clr-icon>
                    <clr-icon *ngIf="questionsService.questionNumber!= 5 && !questionsService.answers['q5']" shape="circle">
                    </clr-icon>
                    <clr-icon shape="success-standard" *ngIf="questionsService.questionNumber!= 5 && questionsService.answers['q5']">
                    </clr-icon>
                    <div class="clr-timeline-step-body">
                    </div>
                </li>
                <li class="clr-timeline-step" (click)="questionsService.questionNumber= 6">
                    <clr-icon *ngIf="questionsService.questionNumber== 6" shape="dot-circle" class="progress-color"></clr-icon>
                    <clr-icon *ngIf="questionsService.questionNumber!= 6 && !questionsService.answers['q6']" shape="circle">
                    </clr-icon>
                    <clr-icon shape="success-standard" *ngIf="questionsService.questionNumber!= 6 && questionsService.answers['q6']">
                    </clr-icon>
                    <div class="clr-timeline-step-body">
                    </div>
                </li>
                <li class="clr-timeline-step" (click)="questionsService.questionNumber= 7">
                    <clr-icon *ngIf="questionsService.questionNumber== 7" shape="dot-circle" class="progress-color"></clr-icon>
                    <clr-icon *ngIf="questionsService.questionNumber!= 7 && !questionsService.answers['q7']" shape="circle">
                    </clr-icon>
                    <clr-icon shape="success-standard" *ngIf="questionsService.questionNumber!= 7 && questionsService.answers['q7']">
                    </clr-icon>
                    <div class="clr-timeline-step-body">
                    </div>
                </li>
                <li class="clr-timeline-step" (click)="questionsService.questionNumber= 8">
                    <clr-icon *ngIf="questionsService.questionNumber== 8" shape="dot-circle" class="progress-color"></clr-icon>
                    <clr-icon *ngIf="questionsService.questionNumber!= 8 && !questionsService.answers['q8']" shape="circle">
                    </clr-icon>
                    <clr-icon shape="success-standard" *ngIf="questionsService.questionNumber!= 8 && questionsService.answers['q8']">
                    </clr-icon>
                    <div class="clr-timeline-step-body">
                    </div>
                </li>
            </ul>
            <button *ngIf="questionsService.questionNumber > 1" (click)="addQuestionNumber()">next</button>
        </div>
    </div>
</div>